
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}
<!doctype html>
<html lang="en" class="light-theme">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- loader-->
  <link href="{% static 'assets/css/pace.min.css' %}" rel="stylesheet" />
  <script src="{% static 'assets/js/pace.min.js' %}"></script>

  <!--plugins-->
  <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />

  <!-- CSS Files -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/bootstrap-extended.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <title>QuitoCultura-Fomento Editorial y literaria</title>
</head>

<body>

  <div class="login-bg-overlay au-sign-up-basic"></div>

  <!--start wrapper-->
  <div class="wrapper">
    {% include 'registration/header_login_register.html' %} 
    <div class="container">
     
      {% block content %}
      {% endblock %}
      {% include 'registration/footer_login.html' %}
    </div>
    
  </div>



  <!--end wrapper-->


  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>