{% extends "base_dash.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}





{% block content %}
<div class="page-content-wrapper">
    <!-- start page content-->
   <div class="page-content">

    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Inicio</div>
        <div class="ps-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
              <li class="breadcrumb-item"><a href="javascript:;">
                <ion-icon name="settings-outline"></ion-icon>
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{% block title %}Configuración de usuario {% endblock %}</li>
            </ol>
          </nav>
        </div>
  
      </div>

<div class="row row-cols-1 row-cols-lg-3">
    <div class="col">
      <div class="card radius-10 bg-success">
        <div class="card-body text-white">
           <div class="service-box bg-white text-success">
            <a href = "{% url 'password_change' %}"> <ion-icon name="key-outline"></ion-icon></a>
           </div>
           <h5>Cambiar contraseña</h5>
           <p class="mb-0"> Aquí puede cambiar su contraseña de usuario, al sistema de gestion de la línea de fomento editorial y literaria de la secretaría de cultura.</p>
        </div>
      </div>
    </div>
</div>

</div>
</div>


{% endblock %}