{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}

    <header class="top-header">
        <nav class="navbar navbar-expand gap-3">
          <div class="toggle-icon">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
         
 
          <div class="top-navbar-right ms-auto">
  
            <ul class="navbar-nav align-items-center">
        
<li  >

<h6 class="mb-0 dropdown-user-name"> <div>
  <img src="{% static 'assets/images/secretaria.png' %}" width="70px" class="logo-icon" alt="logo icon">
</div> </h6>

</li>
              <li class="nav-item dropdown dropdown-user-setting">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                  <div class="user-setting">
                    {% if profile.photo %}
                    <img src="{{ profile.photo.url }}" class="user-img" alt="">
                    {% else %}
                    <img src="{% static 'assets/images/user.png' %}" class="user-img" alt="Default Profile Photo">
                    {% endif %}
                </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex flex-row align-items-center gap-2">
                        {% if profile.photo %}
                        <img src="{{ profile.photo.url }}" alt="" width="54" height="54">
                        {% else %}
                        <img src="{% static 'assets/images/user.png' %}" alt="Default Profile Photo" width="54" height="54">
                        {% endif %}
                       
                        <div class="">
                          <h6 class="mb-0 dropdown-user-name">{{ user.first_name }}</h6>
                          <small class="mb-0 dropdown-user-designation text-secondary">{{user.last_name}}</small>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'usuarios:perfil' %}">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <ion-icon name="person-outline"></ion-icon>
                        </div>
                        <div class="ms-3"><span>Perfil de usuario</span></div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'usuarios:configuraciones' %}">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <ion-icon name="settings-outline"></ion-icon>
                        </div>
                        <div class="ms-3"><span>Configuraciones</span></div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'usuarios:dashboard' %}">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <ion-icon name="speedometer-outline"></ion-icon>
                        </div>
                        <div class="ms-3"><span>Inicio</span></div>
                      </div>
                    </a>
             
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <ion-icon name="log-out-outline"></ion-icon>
                        </div>
                        <div class="ms-3"><span>Salir</span></div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
  
            </ul>
  
          </div>
        </nav>
      </header>
      <!--end top header-->