{% extends "base_dash.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}

{% block content %}

<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">

    <!--start breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3"><ion-icon name="folder-open"></ion-icon> Proyectos Editoriales y Literarios</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0 align-items-center">
            <li class="breadcrumb-item"><a href="javascript:;">
                <ion-icon name="add-outline"></ion-icon>
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% block title %}
              {% if object %}
                Editar proyecto a postular: "{{ object.title }}"
              {% else %}
                Crear nuevo proyecto a postular
              {% endif %}
            {% endblock %}</li>
          </ol>
        </nav>
      </div>

    </div>

    <h6 class="text-uppercase">Proceso de Postulación de Proyecto Editoriales.</h6>
    <hr>
  <div id="stepper1" class="bs-stepper">
    <div class="card">
      
      <div class="card-header">
        <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-lg-between" role="tablist">
          <div class="step" data-target="#test-nl-1">
          <div class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-nl-1">
            <div class="bs-stepper-circle"><i class='bx bx-plus fs-4'></i></div>
            <div class="">
              <h5 class="mb-0 steper-title">Nuevo proyecto</h5>
                <p class="mb-0 steper-sub-title">Crear nuevo proyecto Editorial & literario</p>
            </div>
          </div>
          </div>

        </div>
      </div>
      <div class="card-body">
      
      <div class="bs-stepper-content">
        <form action="." method="post" enctype="multipart/form-data">

          <div class="row g-3">
            <div class="col-12 col-lg-6">

              {% for field in form.visible_fields %}
              {% if field.name == 'course' %}
                <label for="{{ field.id }}" class="form-label">Elija el nombre de la convocatoría, que desea postular este proyecto</label><br>
                {% if field.errors %}
                  {% render_field field class="form-control" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control"  %}
                {% endif %}
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
              {% endif %}
            {% endfor %}

            <br> <!-- Agrega espacio -->

              {% for field in form.visible_fields %}
              {% if field.name == 'subject' %}
                <label for="{{ field.id }}" class="form-label">Elija la categoría de convocatoría en Fomento Editorial y Literaría</label><br>
                {% if field.errors %}
                  {% render_field field class="form-control" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control"  %}
                {% endif %}
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
              {% endif %}
            {% endfor %}

            {% for field in form.visible_fields %}
            {% if field.name == 'tematica' %}
              <label for="{{ field.id }}" class="form-label">Elija la temática  para la convocatoría en Fomento Editorial y Literaría</label><br>
              {% if field.errors %}
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="form-control"  %}
              {% endif %}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            {% endif %}
          {% endfor %}

   

          

          <br> <!-- Agrega espacio -->

            {% for field in form.visible_fields %}
              {% if field.name == 'title' %}
                <label for="{{ field.id }}" class="form-label">Escriba el título del proyecto editorial que desea postular.</label><br>
                {% if field.errors %}
                  {% render_field field class="form-control" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control" %}
                {% endif %}
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
              {% endif %}
            {% endfor %}

            <br> <!-- Agrega espacio -->

            {% for field in form.visible_fields %}
              {% if field.name == 'slug' %}
                <label for="{{ field.id }}" class="form-label">Re escriba el título de la convocatoria, en minusculas y los espacios reemplaze con - </label><br>
                {% if field.errors %}
                  {% render_field field class="form-control" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control " %}
                {% endif %}
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
              {% endif %}
            {% endfor %}

            <br> <!-- Agrega espacio -->

            {% for field in form.visible_fields %}
              {% if field.name == 'cv' %}
                <label for="{{ field.id }}" class="form-label">Adjunte el curriculm vitale del coordinador principal del proyecto</label><br>
                {% if field.errors %}
                  {% render_field field class="form-control" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control" %}
                {% endif %}
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
              {% endif %}
            {% endfor %}

            <br> <!-- Agrega espacio -->

            </div>

            <div class="col-12 col-lg-6">
              
          
              {% for field in form.visible_fields %}
              {% if field.name == 'overview' %}
                <label for="{{ field.id }}" class="form-label">Escriba un breve resumen del proyecto a postular</label><br>
                {% if field.errors %}
                  {% render_field field class="form-control" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control" %}
                {% endif %}
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
              {% endif %}
            {% endfor %}

            <br> <!-- Agrega espacio -->

            {% for field in form.visible_fields %}
            {% if field.name == 'plan' %}
              <label for="{{ field.id }}" class="form-label">Describa su plan de uso del incentivos.</label><br>
              {% if field.errors %}
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="form-control" %}
              {% endif %}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            {% endif %}
          {% endfor %}

          <br> <!-- Agrega espacio -->

       



            <!-- Agregar un botón o enlace para abrir el modal -->


            
            </div>

            {% csrf_token %}
            <div class="col-12">
              <div class="d-flex align-items-center gap-3">
                <button class="btn btn-secondary px-4"  type="submit" value="Save changes"><i class='bx bx-save me-2'></i>Guardar</button>               
              </div>
            </div>
          </div>
          </div>
        </form>
      </div>
       
      </div>
     </div>
  </div>


    
  </div>


{% endblock %}
