{% extends "base_dash.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}
{% load thumbnail %}

{% block title %}Mis Convocatorias{% endblock %}

{% block content %}

<div class="page-content-wrapper">
  <!-- start page content-->
 <div class="page-content">

     <!--start breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3"><ion-icon name="share-outline"></ion-icon> Mis postulaciones</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0 align-items-center">
            <li class="breadcrumb-item"><a href="javascript:;"><ion-icon name="folder"></ion-icon></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Gestión de proyectos para línea de fomento Editorial y Literaria</li>
          </ol>
        </nav>
      </div>
      <div class="ms-auto">
     
      </div>
    </div>

    <div class="demo-seprater">
      <h6 class="mb-0 text-uppercase"> Proyectos postulados </h6>
      <div class="my-3 border-bottom"></div>
    </div>

    
  
      <div class="card-body">
        
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="credit-card" role="tabpanel">
                <div class="p-2 border rounded">
                  {% for project in object_list %}
                  <div class="col-12 col-lg-7">
                    <div class="product-info-section p-3">
                     

                      {% if project.proceso == 'Aprobado' %}
                      <td>
                        <span class="badge bg-light-success text-success w-100">
                         <p style="font-size: 20px;">{{ project.proceso }}</p> 
                        </span>
                      </td>
                      <div class="form-body p-3 rounded border bg-light-success">
                        <p class="mb-4" style="color:azure;margin-bottom:-0.5rem;">El  proyecto editorial "{{ project.title }}" ha sido Aprobado satisfactoriamente a la
                           convocatoria de fomento editorial y literario, {{project.course}}, en la categoría de {{project.subject}}.
                           Este proyecto está siendo calificado en las próximas horas por  jurados competentes de la secretaría de cultura del distrito metropolitano de Quito.</p>
                      </div>
                      
                      {% elif project.proceso == 'Activo' %}
                      <td>
                        <span class="badge bg-light-warning text-warning w-100">
                         <p style="font-size: 20px;">{{ project.proceso }}</p> 
                        </span>
                      </td>
                      <div class="form-body p-3 rounded border bg-warning">
                        <p class="mb-4" style="color:azure;margin-bottom:-0.5rem;" >El  proyecto editorial "{{ project.title }}" se encuentra activo a la
                           convocatoria de fomento editorial y literario, {{project.course}}, en la categoría de {{project.subject}}.
                           Este proyecto será verficado en las próximas horas por  técnicos competentes de la secretaría de cultura del distrito metropolitano de Quito. 
                          Mantengase pendiente de la plataforma para futuras notificaciones.</p>
                      </div>
                      {% elif project.proceso == 'Subsanación' %}
                      <td>
                        <span class="badge bg-secondary text-success w-100">
                         <p style="font-size: 15px;" > {{ project.proceso }}</p> 
                        </span>
                      </td>
                      <div class="form-body p-3 rounded border bg-secondary">
                        <p class="mb-4" style="color:rgb(255, 255, 255);margin-bottom:-0.5rem;">El  proyecto editorial "{{ project.title }}" ha sido verificado en la
                           convocatoria de fomento editorial y literario, {{project.course}}, en la categoría de {{project.subject}}.
                           Cuya recomendaciones son las siguientes:</p>
                          <p class="mb-0" style="color:azure;margin-bottom:-0.5rem;" >{{ project.recomend|richtext | safe}}</p> 
                      </div>
                      {% elif project.proceso == 'Rechazado' %}
                      <td>
                        <span class="badge bg-light-danger text-danger w-100">
                          <p style="font-size: 15px;" > {{ project.proceso }}</p>
                        </span>
                      </td>
                      <div class="form-body p-3 rounded border bg-danger">
                        <p class="mb-4" style="color:azure;margin-bottom:-0.5rem;">El  proyecto editorial "{{ project.title }}" ha sido rechazado en la
                           convocatoria de fomento editorial y literario, {{project.course}}, en la categoría de {{project.subject}}.
                           Cuyo dictamén han sido el siguiente:</p>
                      </div>
                      {% endif %}

                    

                      <hr/>
                      <div class="d-flex align-items-center mt-3 gap-2">
                        <h5 class="mb-0 text-light-3">Título del proyecto postulado: "{{ project.title }}"</h5>
                        <h3>{{ jurados.nombre_1 }}</h3>
                      
                      </div>
                    
                     
                      <dl class="row mt-3">	
                        <dt class="col-sm-3">Convocatoria:</dt>
                        <dd class="col-sm-9">{{ project.course }}</dd>	
                        <dt class="col-sm-3">Categoría de convocatoria:</dt>
                        <dd class="col-sm-9">{{ project.subject }}</dd>	
                        <dt class="col-sm-3">Temática de la convocatoria:</dt>
                        <dd class="col-sm-9">{{ project.tematica }}</dd>	

                        <dt class="col-sm-3">Última actualización:</dt>
                        <dd class="col-sm-9">{{ project.created }}</dd>	
                        <dt class="col-sm-3">Coordinador de Proyecto:</dt>
                        <dd class="col-sm-9">{{ project.owner.get_full_name }}</dd>
                        <dt class="col-sm-3">Número de autores en el proyecto:</dt>
                        <dd class="col-sm-9">{{ project.authors.count }}</dd>
                        
                        
                       
                      </dl>

                      <hr/>
               
                      <!--end row-->
                      <div class="d-flex gap-2 mt-3">
                        <a class="btn btn-primary btn-ecomm" href="{% url "proyectos:project_edit" project.id %}" title="Editar Proyecto" >  
                          <ion-icon name="create-outline"></ion-icon> Editar
                        </a> 

                        <a class="btn btn-light btn-ecomm" href="{% url "proyectos:project_author_update" project.id %}" title="Agregar Autores" >  
                          <ion-icon name="person-add"></ion-icon> Agregar Autores
                        </a> 

                        {% if project.authors.count > 0 %}
                        <a class="btn btn-light btn-ecomm"   href="{% url "proyectos:author_content_list" project.authors.first.id %}" title="Agregar Curriculm Vitale" >
                          <ion-icon name="document-attach-outline"></ion-icon>Adjuntar contenidos a autores del proyecto</a>
                        
                        {% endif %}

                      </div>
                      <div class="d-flex gap-2 mt-3">

                        <a class="btn btn-light btn-ecomm" href="{% url "proyectos:project_biblio_update" project.id %}" title="Agregar bibliografia" >  
                          <ion-icon name="bookmark"></ion-icon> Agregar Bibliografía
                        </a> 

                        <a class="btn btn-light btn-ecomm"  href="{% url "proyectos:project_work_plan_update" project.id %}" title="Agregar Plan de trabajo">  
                          <ion-icon name="calendar"></ion-icon> Agregar plan de trabajo
                        </a> 

                       

                      </div>
                      
                      <hr/>
                     
                    </div>
                    <div class="product-sharing">
                      <ul class="list-inline">
                        <li class="list-inline-item "> 
                         
                          <p> * Para postular proyectos editoriales en convocatorias o llamados a fomento editorial y 
                            literario, es imprescindible respetar el número de autores, bibliografías y planes 
                            de trabajo establecidos de acuerdo a las bases técnicas descritas en cada convocatoria.
                             No cumplir con esta normativa puede resultar en el rechazo automático de la postulación al 
                             fondo de fomento. Se insta a los postulantes a revisar detenidamente las condiciones y requisitos 
                             específicos de cada convocatoria, antes de crear un proyecto para fomento en la misma.</p>

                        </li>
                        <li class="list-inline-item "> 
                          <p>** <span class="badge bg-light-warning text-warning w-10">Activo</span>/proceso de postulación enviado,
                            <span class="badge bg-secondary text-success w-10">Subsanación</span>/proceso de verificación de información. 
                            <span class="badge bg-light-danger text-danger w-10">Rechazado</span>/proceso de postulación anulado.  
                            <span class="badge bg-light-success text-success w-10">Aprobado</span>/proceso de calificación de proyecto.   </p>

                        </li>
                   
                      </ul>
                      
                    </div>  

                </div>
                {% endfor %}
              
                
              </div>
              
            </div>
          </div>
          
      </div>


   
   </div>
</div>

        


{% endblock %}


<div class="table-responsive mt-3">
  <table class="table align-middle">
    <thead class="table-secondary">
      <tr>
       <th># de Autores</th>
       <th>Nombre de Usuario</th>
       <th>Titulo de obra literaria</th>
       <th>Nombre de convocatoria a postular </th>
       <th>Proceso</th>
       <th>Configuraciones</th>
      </tr>
    </thead>
    <tbody>
      {% for project in object_list %}
      <tr>
       <td>
        {{ project.authors.count }}

       </td>
       <td>{{ project.owner }}</td>
        <td>
          <div class="d-flex align-items-center gap-3 cursor-pointer">
            {% thumbnail project.portada "300x200" crop="center" as p %}
             <img src="{{ p.url }}" class="rounded-circle" width="44" height="44" alt="">
             {% endthumbnail %}
             <div class="">
               <p class="mb-0">{{ project.title }}</p>        
             </div>
          </div>
        </td>
        <td>{{ project.course }}
        </td>
        {% if project.proceso == 'Aprobado' %}
        <td>
          <span class="badge bg-light-success text-success w-100">
            {{ project.proceso }}
          </span>
        </td>
        {% elif project.proceso == 'Activo' %}
        <td>
          <span class="badge bg-light-warning text-warning w-100">
            {{ project.proceso }}
          </span>
        </td>
        {% elif project.proceso == 'Subsanación' %}
        <td>
          <span class="badge bg-light-warning text-success w-100">
            {{ project.proceso }}
          </span>
        </td>
        {% elif project.proceso == 'Rechazado' %}
        <td>
          <span class="badge bg-light-danger text-danger w-100">
            {{ project.proceso }}
          </span>
        </td>
        {% endif %}


        <td>
          <div class="table-actions d-flex align-items-center gap-3 fs-6">
          <a class="dropdown-item" href="{% url "proyectos:project_edit" project.id %}" title="Editar Proyecto" >  <ion-icon name="create-outline"></ion-icon></a>
          <a class="dropdown-item" href="{% url "proyectos:project_work_plan_update" project.id %}" title="Agregar Plan de trabajo"><ion-icon name="calendar"></ion-icon></a>
          <a class="dropdown-item" href="{% url "proyectos:project_biblio_update" project.id %}" title="Agregar bibliografia"> <ion-icon name="bookmarks"></ion-icon></a>
          <a class="dropdown-item" href="{% url "proyectos:project_author_update" project.id %}" title="Agregar Autores"> <ion-icon name="person-add-outline"></ion-icon></a>
         
          {% if project.authors.count > 0 %}
        <a class="dropdown-item"  href="{% url "proyectos:module_content_list" project.authors.first.id %}" title="Agregar Curriculm Vitale" ><ion-icon name="document-attach-outline"></ion-icon></ion-icon></a>
        
        {% endif %}
       
        <a class="dropdown-item" href="{% url "proyectos:project_delete" project.id %}" title="Eliminar Proyecto" style="color:red;" ><ion-icon name="trash-outline"></ion-icon></a>
          </div>

        
        </td>
      </tr>
    
      {% empty %}
      <tr>
       
<p>Usted todavia no ha creado un proyecto para postular en las convocatorias para la línea de fomento editorial y literaria.</p>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>  