{% extends "base_dash.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}
{% load course %}

{% block title %}
  Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}
<div class="page-content-wrapper">
  <!-- start page content-->
 <div class="page-content">

  <!--start breadcrumb-->
  <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Subir contenido adjunto a la convocatoria.</div>
    <div class="ps-3">
  
    </div>

  </div>
  <!--end breadcrumb-->

  {% with course=module.course %}
  <section class="shop-page">
    <div class="shop-container">

      <div class="card shadow-sm border-0">
        <div class="card-body">
           
          <div class="product-detail-card">
            <div class="product-detail-body">
              <div class="row g-0">
              
                <div class="col-12 col-lg-7">
                  <div class="product-info-section p-3">
                    <h3 class="mt-3 mt-lg-0 mb-0">{{ course.title }}</h3>
                    <div class="product-rating d-flex align-items-center mt-2">
                    </div>
                    <div class="d-flex align-items-center mt-3 gap-2">
                      <h4 class="mb-0">Categoría: {{course.subject }}</h4>
                    </div>
                    <div class="mt-3">
                      <h6>Resumen de la convocatoria:</h6>
                      <p class="mb-0">{{ course.overview }}</p>
                    </div>
                    <dl class="row mt-3">	<dt class="col-sm-3">Fecha de creación: </dt>
                      <dd class="col-sm-9">{{ course.created }}</dd>	
                      <dt class="col-sm-3">Fecha de vencimiento:</dt>
                      <dd class="col-sm-9">{{ course.vencimiento }}</dd>
                      <dt class="col-sm-3">Creado por:</dt>
                      <dd class="col-sm-9">{{ course.owner }}</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <!--end row-->
            </div>
          </div>



         
          <div class="product-more-info mt-4">
            
            <ul class="nav nav-tabs mb-0" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link"  href="{% url "editorial_literaria:module_content_create" module.id "text" %}" role="tab" aria-selected="true">
                  <div class="d-flex align-items-center">
                    <div class="tab-title text-uppercase fw-500">Escribir contenido </div>
                  </div>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link"  href="{% url "editorial_literaria:module_content_create" module.id "image" %}" role="tab" aria-selected="false">
                  <div class="d-flex align-items-center">
                    <div class="tab-title text-uppercase fw-500">Subir una imagen.</div>
                  </div>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link"  href="{% url "editorial_literaria:module_content_create" module.id "video" %}" role="tab" aria-selected="false">
                  <div class="d-flex align-items-center">
                    <div class="tab-title text-uppercase fw-500">Subir un video </div>
                  </div>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link active"  href="{% url "editorial_literaria:module_content_create" module.id "file" %}" role="tab" aria-selected="false">
                  <div class="d-flex align-items-center">
                    <div class="tab-title text-uppercase fw-500">Subir un archivo pdf </div>
                  </div>
                </a>
              </li>
            </ul>
            
     
              <div class="tab-pane fade show active" id="reviews" role="tabpanel">
                <div class="row">
                  <div class="col col-lg-8">
                    <div class="product-review">
                      <h5 class="mb-4"> {% for content in module.contents.all %}
                        {% empty %}
                 
                      {% endfor %}</h5>
                      <div class="review-list">
                        {% for content in module.contents.all %}
                        {% with item=content.item %}
                        <div class="d-flex align-items-start">
                          <div class="review-user">
                            {% if item|model_name == 'text' %}
                           <h5><ion-icon name="document-text-outline"></ion-icon></h5>
                           {% elif item|model_name == 'video' %}
                           <h5><ion-icon name="film-outline"></ion-icon></h5>
                           {% elif item|model_name == 'file' %}
                           <h5> <ion-icon name="attach-outline"></ion-icon></h5>
                           {% elif item|model_name == 'image' %}
                           <h5> <ion-icon name="image-outline"></ion-icon></h5>
                           {% endif %}
                          </div>
                          <div class="review-content ms-3">
                          
                            <div class="d-flex align-items-center mb-2">
                              <h6 class="mb-0"> {{ item }} </h6>
                              <a href="{% url "editorial_literaria:module_content_update" module.id item|model_name item.id %}"><h2><ion-icon name="create-outline"></ion-icon></h2></a>
                              <form action="{% url "editorial_literaria:module_content_delete" content.id %}" method="post">
                                <button class="btn-danger" type="submit" value="Delete"><ion-icon name="trash-outline"></ion-icon> </button>
                                {% csrf_token %}
                              </form>

                            </div>
                      

                          </div>
                          {% endwith %}
                        </div>
                        <hr/>
                        {% empty %}
                        <p>Esta convocatoria no contiene archivos adjuntos ni contenidos adicionales.</p>
                      {% endfor %}
                      </div>
                    </div>
                  </div>

 
                </div>
                <!--end row-->
              </div>
            </div>
          </div>
      <!--end product more info-->

      <!--start similar products-->
             
           
          <!--end similar products-->
          
        </div>
      </div>
    
 
</section>
{% endwith %}
<!--end product detail-->


<hr/>
<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Convocatoria</th>
            <th>Titulo de sección de Base técnica</th>
            <th>Número de secciones </th>
          </tr>
        </thead>
        <tbody>
          {% with course=module.course %}
          {% for m in course.modules.all %}
          <tr>
            <td>{{ course.title }}</td>
           
            <td> <a href="{% url "editorial_literaria:module_content_list" m.id %}">{{ m.title }}</a></td>
            <td>{{ m.order|add:1 }}</td>
        
          </tr>
          {% empty %}
          <h3>No existe base técnica creada todavía. .</h3>
        {% endfor %}
        {% endwith %}
        </tbody>
        <tfoot>
          <tr>
            <th>Convocatoria</th>
            <th>Titulo de sección de Base técnica</th>
            <th>Número de secciones </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



  </div>
  <!-- end page content-->
 </div>
 
{% endblock %}

{% block domready %}
  $('#modules').sortable({
      stop: function(event, ui) {
          modules_order = {};
          $('#modules').children().each(function(){
              // update the order field
              $(this).find('.order').text($(this).index() + 1);
              // associate the module's id with its order
              modules_order[$(this).data('id')] = $(this).index();
          });
          $.ajax({
              type: 'POST',
              url: '{% url "module_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
                 data: JSON.stringify(modules_order)
             });
      }
  });

  $('#module-contents').sortable({
      stop: function(event, ui) {
          contents_order = {};
          $('#module-contents').children().each(function(){
              // associate the module's id with its order
              contents_order[$(this).data('id')] = $(this).index();
          });

          $.ajax({
              type: 'POST',
              url: '{% url "content_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify(contents_order),
          });
      }
  });
{% endblock %}