{% extends "base_login.html" %}
{% load wagtailimages_tags wagtailcore_tags menu_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xl-5 col-lg-6 col-md-7 mx-auto mt-5">
    <div class="card radius-10">
      <div class="card-body p-4">
        <h4 class="text-center">Recuperar contraseña.</h4>
        <p class="text-center">Para recuperar su contraseña, escriba su correo electrónco. Y le enviaremos un correo con las intrucciones para que pueda recuperar su contraseña. </p>
        <form class="form-body row g-3" method="post">
          {% csrf_token %}
     
     

          {% if form.errors %}
          <div class="col-12">
            <div class="alert alert-danger" role="alert">
              Your username and password didn't match. Please try again.
            </div>
          </div>
          {% endif %}

          {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
          {% endfor %}

          {% if form.non_field_errors %}
          <div class="col-12">
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
              {{ error }}
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% for field in form.visible_fields %}
          <div class="col-12">
            <div class="form-group">
              {{ field.label_tag }}
              {% if form.is_bound %}
              {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
              {% else %}
              {% render_field field class="form-control is-valid" %}
              {% endif %}
              {% else %}
              {% render_field field class="form-control" %}
              {% endif %}
              {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          </div>
          {% endfor %}

          <div class="col-12 d-grid">
            <button type="submit" class="btn btn-primary" value="Send e-mail">Enviar correo</button>
          </div>



          <div class="col-12">
           
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}s