{% extends "base_login.html" %}
{% load wagtailimages_tags wagtailcore_tags menu_tags %}
{% load widget_tweaks %}
{% load static %}


{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-5 col-lg-6 col-md-7 mx-auto mt-5">
    <div class="card radius-10">
      <div class="card-body p-4">
        <h4 class="text-center">Recuperar contraseña.</h4>
        <p class="text-center">Se ha enviado  un correo con las intrucciones para que pueda recuperar su contraseña. </p>
 
      </div>
    </div>
  </div>
</div>
{% endblock %}