{% extends "base_dash.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}



{% block content %}
<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">

    <!--start breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3"><ion-icon name="card"></ion-icon> Inscripción</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0 align-items-center">
            <li class="breadcrumb-item"><a href="javascript:;">
              <ion-icon name="school"></ion-icon>
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% block title %} Declaratoria {% endblock %}</li>
          </ol>
        </nav>
      </div>

    </div>

    <h6 class="text-uppercase">Proceso de Inscripción para el uso del sistema de gestión de fomento y actividades culturales en espacios públicos.</h6>
    <hr>
  <div id="stepper1" class="bs-stepper">
    <div class="card">
      
      <div class="card-header">
        <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-lg-between" role="tablist">
          <div class="step" data-target="#test-nl-1">
          <div class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-nl-1">
            <div class="bs-stepper-circle"><i class='bx bx-user fs-4'></i></div>
            <div class="">
              <h5 class="mb-0 steper-title">Perfil de usuario</h5>
              <p class="mb-0 steper-sub-title">Información de Perfil del usuario</p>
            </div>
          </div>
          </div>
          <div class="bs-stepper-line"></div>
          <div class="step" data-target="#test-nl-2">
            <div class="step-trigger" role="tab" id="stepper2trigger2" aria-controls="test-nl-2">
            <div class="bs-stepper-circle"><ion-icon name="paper-plane-outline"></ion-icon></div>
            <div class="">
              <h5 class="mb-0 steper-title">Contacto de usuario</h5>
              <p class="mb-0 steper-sub-title">Información de contacto del usuario</p>
            </div>
            </div>
          </div>
          <div class="bs-stepper-line"></div>
          <div class="step" data-target="#test-nl-3">
            <div class="step-trigger" role="tab" id="stepper2trigger3" aria-controls="test-nl-3">
            <div class="bs-stepper-circle"><i class='bx bxs-graduation fs-4'></i></div>
            <div class="">
              <h5 class="mb-0 steper-title">Personería Jurídica</h5>
              <p class="mb-0 steper-sub-title">Información de personería jurídica</p>
            </div>
            </div>
          </div>
          <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-nl-4">
              <div class="step-trigger" role="tab" id="stepper2trigger4" aria-controls="test-nl-4">
              <div class="bs-stepper-circle"><i class='bx bx-play fs-4'></i></div>
              <div class="">
                <h5 class="mb-0 steper-title">Actividad Cultural</h5>
                <p class="mb-0 steper-sub-title">Información actividad cultural del usuario</p>
              </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card-body">
      
      <div class="bs-stepper-content">

        <div class="card">
            <div class="card-body text-center">
              <h2 class="h4 pb-3">Gracias, <strong>{{ profile.user.get_full_name }}.</strong></h2>
              <p class="fs-sm mb-2">Por realizar el proceso de  inscribición en nuestra plataforma de gestión cultural de la Secretaría de Cultura! Nos complace darle la bienvenida a nuestra comunidad dedicada al fomento y promoción de la cultura en el Municipio del Distrito Metropolitano de Quito.</p>
              <p class="fs-sm mb-2">Ahora que has completado tu registro, tienes acceso completo a nuestra plataforma. Puedes explorar las diversas convocatorias vigentes accediendo a los siguientes enlaces. Además, puedes crear y presentar proyectos para postularte a las diferentes convocatorias y también para proponer actividades culturales que enriquezcan nuestra comunidad.

                Estamos emocionados de tenerte a bordo y esperamos colaborar contigo en la realización de proyectos culturales significativos para nuestra ciudad.
                
                ¡Bienvenido y gracias por formar parte de nuestra comunidad cultural!
              </p>
              <p class="fs-sm">
              </p>
              <a class="btn btn-primary mt-3" href="{% url 'usuarios:dashboard' %}">Volver al Inicio</a>
            </div>
          </div>

      
      </div>
       
      </div>
     </div>
  </div>


    
  </div>





  
{% endblock %}

<h1>Edit your account</h1>
  <p>You can edit your account using the following form:</p>
  <form action="." method="post" enctype="multipart/form-data">
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Save changes"></p>
  </form>