{% extends "base_login.html" %}
{% load wagtailimages_tags wagtailcore_tags menu_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Ingresar{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xl-5 col-lg-6 col-md-7 mx-auto mt-5">
    <div class="card radius-10">
      <div class="card-body p-4">
        <img src="{% static 'assets/images/escudo.png' %}" style="width: 50px;" alt="">
        <img src="{% static 'assets/images/secretaria.png' %}" style="width: 170px;" alt="">
        <h4 class="text-center"></h4>
        <div class="alert alert-danger" role="alert">
        <p class="text-justify">Lo sentimos, parece que el nombre de usuario y la contraseña
          que has proporcionado no coinciden con nuestros registros. Por favor, verifica si 
          el nombre de usuario corresponde a la contraseña registrada. Si has olvidado tu 
          contraseña o crees que ha habido un error, te recomendamos hacer clic en "Recuperación 
          de Contraseña" para restablecer tu acceso de manera segura. Si sigues experimentando problemas,
          no dudes en ponerte en contacto con nuestro equipo de soporte para obtener ayuda adicional. </p>
        </div>
        <form class="form-body row g-3" method="post">
          {% csrf_token %}

          <div class="col-12 col-lg-12">
            <div class="position-relative border-bottom my-3">
              <div class="position-absolute seperator-2 translate-middle-y">O</div>
            </div>
          </div>

  

          {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
          {% endfor %}

          {% if form.non_field_errors %}
          <div class="col-12">
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
              {{ error }}
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% for field in form.visible_fields %}
          <div class="col-12">
            <div class="form-group">
              {{ field.label_tag }}
              {% if form.is_bound %}
              {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
              {% else %}
              {% render_field field class="form-control is-valid" %}
              {% endif %}
              {% else %}
              {% render_field field class="form-control" %}
              {% endif %}
              {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          </div>
          {% endfor %}

          <p>¿Olvidó su contraseña?<a href="{% url 'password_reset' %}"> Recuperar contraseña</a></p>

          <div class="col-12">
            <p>Al ingresar, usted automáticamente acepta los términos y condiciones de uso de la plataforma.</p>
          </div>

          <div class="col-12 d-grid">
            <button type="submit" class="btn btn-primary" value="Log in">Ingresar</button>
          </div>

          <div class="col-12">
            <p>¿No se ha registrado todavía?<a href="{% url 'usuarios:register' %}"> Registrarse</a></p>
          </div>

          <div class="col-12">
           
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
