{% load static %}
<footer class="min-footer fl-wrap content-animvisible">
    <div class="container small-container">
        <div class="footer-inner fl-wrap">
            <!-- policy-box-->
            <div class="policy-box">
                <span> Copyright &copy; <script>document.write(new Date().getFullYear());</script> Secretaría de Cultura-QND.V.1.0 All rights reserved |  <a href ="www.smartquail.io"><img src = "{% static 'images/logosmartquail.png' %}" width="100px"></a>  </span>
            </div>
            <!-- policy-box end-->
            
        </div>
    </div>
</footer>