{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% load menu_tags %}


<header class="main-header">
    <!-- logo   -->
    {%for item in page.galleria_5.all %}
     {% image item.logo width-110 format-png as logo %}
    <a href="{% slugurl 'home' %}" class="logo-holder"><img src="{{logo.url}}" alt=""></a>  
    {% endfor %}
    <!-- logo end  -->		
    <!-- search -->				
    
    <!-- search end  -->
    <div class="share-btn showshare"><i class="fal fa-megaphone"></i><span>Share</span></div>
    <!-- mobile nav -->
    <div class="nav-button-wrap">
        <div class="nav-button"><span></span><span></span><span></span></div>
    </div>
    <!-- mobile nav end-->				
    <!--  navigation -->
    <div class="nav-holder main-menu">
        <nav>
            <ul>
                <li>
                    <a href="{% slugurl 'home' %}" class="act-link">Home</a>
                    <!--second level -->
                </li>
                <li>
                    <a href="#">Portfolio </a>
                    <!--second level -->
                    <ul>
                        {% for item in menu_items %}
                        <li><a href="{{ item.href }}"> {{ item.text }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{% url 'wagtailadmin_home' %}">Customers</a>
                </li>
                <li>
                    <a href="{% slugurl 'shootingnow' %}">Shooting now</a>
                </li>
               
                
            </ul>
        </nav>
    </div>
    <!-- navigation  end -->               
</header>
<div class="hiiden-sidebar-wrap outsb">
    <!-- sb-widget-wrap-->
    <div class="sb-widget-wrap fl-wrap">
        <h3>LEAVE YOUR COMMENTS </h3>
        <div class="sb-widget  fl-wrap">
            <div class="column-wrapper_item fl-wrap">
                <div class="column-wrapper_text fl-wrap">
                    <div id="contact-form" class="fl-wrap">
                        <div id="message"></div>
                       <h1>{{ self.thank_you_text|richtext }}</h1> 
                       <a href="{% slugurl 'documentary' %}"><button type="submit" id="subscribe-button" class="subscribe-button">New Comment</button></a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- sb-widget-wrap end--> 
    <!-- sb-widget-wrap-->
    <div class="sb-widget-wrap fl-wrap">
        <h3>We're Are Social</h3>
        <div class="sb-widget    fl-wrap">
            <div class="sidebar-social fl-wrap">
                <ul>
                    {% if settings.webapp_0.SocialMediaSettings.facebook %}
                    <li><a href="{{ settings.webapp_0.SocialMediaSettings.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    {% endif %}
                    {% if settings.webapp_0.SocialMediaSettings.instagram %}
                    <li><a href="{{ settings.webapp_0.SocialMediaSettings.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    {% endif %}
                    {% if settings.webapp_0.SocialMediaSettings.twitter %}
                    <li><a href="{{ settings.webapp_0.SocialMediaSettings.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    {% endif %}
                    <li><a href="https://api.whatsapp.com/send?phone=593984534954" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="mailto:info@juansilvaphoto.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- sb-widget-wrap end-->                                   
    <!-- sb-widget-wrap-->
    <div class="sb-widget-wrap fl-wrap">
        <div class="sb-widget  fl-wrap">
            <a href="{{ settings.webapp_0.SocialMediaSettings.instagram }}" target="_blank" class="twitt_btn fl-wrap">Follow Us</a>
        </div>
    </div>
    {% include 'webapp_0/footer.html' %}
    <!-- sb-widget-wrap end-->    
</div>
